<%= form_with model: blog_post, local: true do |form| %>
  <div class="mb-4">
    <%= form.label :title, class:"formLabel" %>
    <%= form.text_field :title, placeholder:"Blog post title", class: "formInput #{'border-red-500' if form.object.errors.has_key?(:title)}" %>
    <% if form.object.errors.has_key?(:title) %>
      <p class="errorMessage"><%= form.object.errors[:title].first %></p>
    <% end %>
  </div>
  <div class="mb-4">
    <%= form.label :body, class:"formLabel" %>
    <%= form.text_area :body,size: "70x5", placeholder:"Blog post content", class: "formInput #{'border-red-500' if form.object.errors.has_key?(:body)}" %>
    <% if form.object.errors.has_key?(:body) %>
      <p class="errorMessage"><%= form.object.errors[:body].first %></p>
    <% end %>
  </div>
  <div>
    <%= form.label :published_at, class:"formLabel" %>
    <%= form.datetime_select :published_at, include_blank:true  %>
  </div>
  <div class="mt-4 flex">
    <% if form.object.new_record? %>
      <%= form.button "Create Post", class: "submitButton" %>
    <% else %>
      <%= form.button "Update Post", class: "submitButton" %>
    <% end %>
  </div>
<% end %>
