<div class="authenticationFormWrapper">
  <div class='border-b border-gray-100 mb-4'>
    <h2 class='mb-2 text-lg font-semibold'>Log in</h2>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email, class:"formLabel"  %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: "formInput mb-4 #{'border-red-500' if f.object.errors.has_key?(:email)}"%>
       <p class="errorMessage"><%= f.object.errors[:email].first %></p>
    </div>
    <div class="field">
      <%= f.label :password, class:"formLabel"  %>
      <%= f.password_field :password, autocomplete: "current-password",class: "formInput mb-4 #{'border-red-500' if f.object.errors.has_key?(:password)}" %>
       <p class="errorMessage"><%= f.object.errors[:password].first %></p>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me , class:"checkbox"%>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    <div class="actions">
      <%= f.submit "Log in" ,class:"primaryButton mt-4"%>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
