<!DOCTYPE html>
<html>
  <head>
    <title>LearnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="flex flex-col min-h-screen">
    <%= render 'layouts/header' %>
    <main class="flex-1">
      <%if notice%>
        <div class='noticeToastWrapper'>
          <p class="notice  text-gray-700 "><%= notice %></p>
        </div>
      <%end%>
      <%if alert%>
        <div class='noticeToastWrapper'>
          <p class="alert"><%= alert %></p>
        </div>
      <%end%>
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
